<div class="tiled-tournament--overlay">
    <div class="tiled-tournament--description">
        <div>
            <span class="with-clock" *ngIf="data.date"> {{ data.date }}</span>
            <div class="games--platforms-cell" *ngIf="data.plateform">
                <a class="badge {{item}} " *ngFor="let item of data.plateform">{{item}}</a>
            </div>
        </div>
    </div>
    <figcaption class="tiled-tournament--title">
        <span class="game-title">{{ data.name }}</span
        ><span class="platform-icon"></span>
    </figcaption>
</div>
<div class="tiled-tournament--image-cover">
    <img [src]="data.src" alt="" />
</div>
