

.tiled-tournament--overlay {
     background-color: rgba(20,32,64,.5);
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.tiled-tournament--image-cover {
    background-size: cover;
    background-position: 50%;
    transition: all .3s cubic-bezier(.06,.79,.54,1.9);
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.with-clock {
    font-size: 20px;
    font-weight: 900;
    display: block;
}
.tiled-tournament--description {
    height: calc(100% - 30px);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    padding: 8px 21px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.tiled-tournament--title {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    background-color: #323639;
    padding: 5px 10px 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
