<div id="community" class="container-fluid">
    <h2 class="text-center">Communauté</h2>
    <div class="d-flex flex-column flex-md-row w-100 mx-0 mt-3">
        <div class="d-flex flex-column card-wrapper">
            <div class="community-card ml-0">
                <div id="actuality" class="actuality-card d-flex flex-column">
                    <div class="d-flex align-items-baseline mobile-margin">
                        <div>
                            <div class="d-flex flex-md-row flex-wrap align-items-baseline my-2">
                                <span class="title border title"></span>
                                <h3>Actualités</h3>
                                <a class="view-more ml-2">Voir plus</a>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex w-100 m-0 flex-column flex-md-row">
                        <div class="article text-left">
                            <div class="img-holder"
                                style="background-image: url('assets/img/games/blogpost2-fortnite-gamepage.jpg');">
                            </div>
                            <p class="font-weight-bold my-2">Weekly challenges for LOL players</p>
                            <p>Every week LOL players will be able to compete against each other on different
                                challenges<span class="text-underline"><a>View more</a></span></p>
                        </div>
                        <div class="article text-left">
                            <div class="img-holder"
                                style="background-image: url('assets/img/games/blogpost1-LOL-weeklychallenge.jpg');">
                            </div>
                            <p class="font-weight-bold my-2"> Fortnite is on our platform</p>
                            <p>Check out the tounaments, trainings and more about Fortnite<span
                                    class="text-underline"><a>View more</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-card ml-0">
                <div id="shop" class="actuality-card d-flex flex-column">
                    <div class="d-flex align-items-baseline mobile-margin">
                        <div>
                            <div class="d-flex flex-md-row flex-wrap align-items-baseline my-2">
                                <span class="title border title"></span>
                                <h3>Magasin</h3>
                                <a class="view-more ml-2">Voir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"><img class="w-100 store-promo lazyLoad isLoaded" src="assets/img/games/shop.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column card-wrapper">
            <div class="community-card">
                <div id="Community" class="actuality-card h-100">
                    <div class="d-flex flex-md-row flex-wrap align-items-baseline my-2">
                        <span class="title border title"></span>
                        <h3>Showcase</h3>
                        <a class="view-more ml-2">Voir plus</a>
                    </div>
                    <div >
                        <div class="jwplayer-stylish">
                            <div  class="custom-video w-100">
                                <div  class="m-0 justify-content-center">
                                    <div  class="w-100"><video  playsinline=""
                                            src="https://public.nicecact.us/homepage/videos/showcase/showcase.mp4"
                                            autoplay="autoplay" loop="loop" nuxt-lazy-load="" class="w-100"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-card">
                <div id="Arena" class="actuality-card flex-column">
                    <div class="d-flex align-items-baseline mobile-margin">
                        <div class="d-flex flex-md-row flex-wrap align-items-baseline my-2">
                            <span class="title border title"></span>
                            <h3>Bienvenue dans notre Arène</h3>
                            <a class="view-more ml-2">Voir plus</a>
                        </div>
                    </div>
                    <div>
                        <div class="jwplayer-stylish">
                            <div  class="custom-video w-100">
                                <div  class="m-0 justify-content-center">
                                    <div  class="w-100"><video  playsinline=""
                                            src="https://public.nicecact.us/homepage/videos/arena/arena.mp4"
                                            autoplay="autoplay" loop="loop" nuxt-lazy-load="" class="w-100"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>