#community {    background-color: black; color: white;}
.community-title {
    margin-bottom: 64px;
}
h2 {
    font-size: 48px;
    letter-spacing: -.03em;
    color: white;
}
h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 0;
    letter-spacing: -.01em;
    color: #d8d8d8;
}
.community-card {    margin-bottom: 32px;}
.actuality-card {
    background-color: #323639;
    box-shadow: 0 15px 25px rgb(0 0 0 / 45%);
    border-radius: 24px;
    padding: 32px;
    color: #fff;
}
.border.title {
    background: #b2f617!important;
}
.title {
    width: 4px;
    height: 20px;
    margin-right: 8px;
}
.view-more{
    color: #888c88;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 116%;
}
.mobile-margin{
    margin-bottom: 16px;
}
.img-holder{
    width: 100%;
    height: 185px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
video {
    border-radius: 8px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 50%);
    overflow: hidden;
}
.card-wrapper {
    min-width: 50%;
}
@media (min-width: 576px) {
h2 {
    font-size: 76px;
}
.mobile-margin{
    margin-bottom: 32px;
}
.community-card {
    margin-left: 32px;
}
}
@media (max-width:575px) {
    h3 {
        font-size: 16px;
    }
}
@media screen and (min-width:768px) and (max-width: 995px) {
    h3 {
    font-size: 20px;
    }
}
