<div class="row">
    <div class="col-xl-8 col-md-6">
        <div class="card">
            <div class="card-header border-0">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 text-right">
                        <button
                            class="btn btn-sm btn-neutral btn-round btn-icon"
                            data-toggle="tooltip"
                            data-original-title="Edit product"
                        >
                            <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                            <span class="btn-inner--text">Export</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <nicecactus-platform-platform-list [items]="platforms$ | async"></nicecactus-platform-platform-list>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <nicecactus-platform-platform-form
                            (save)="onSave($event)"
                            [platform]="platform$ | async"
                        ></nicecactus-platform-platform-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
