.tournament--match-empty {
    font-size: 14px;
    font-weight: 600;
    color: #c0c3cb;
    text-align: center;
    padding: 70px 0;
}
.tournament--match-empty svg {
    max-width: 36px;
    height: auto;
    fill: #323639;
}
.tournament--match-empty-title {
    color: #818797;
    padding: 4px 0;
}