<div class="tournament--rounds">
   <h2 class="tournament--rounds-title text-center">Round</h2>
    <div class="tournament--rounds-content">
        <div class="tournament--rounds-container">
            <div data-testid="tournament-rounds-round" class="tournament--rounds-item is-closed">
                <div class="tournament--rounds-item-head">
                    <div class="tournament--rounds-item-head-title">1/8 de Finale</div>
                    <div class="tournament--rounds-item-head-separate"></div>
                    <div class="tournament--rounds-item-head-best-of">Best Of 1</div>
                </div>
            </div>
            <div data-testid="tournament-rounds-round" class="tournament--rounds-item is-quarter is-closed">
                <div class="tournament--rounds-item-head">
                    <div class="tournament--rounds-item-head-title">Quart de Finale</div>
                    <div class="tournament--rounds-item-head-separate"></div>
                    <div class="tournament--rounds-item-head-best-of">Best Of 1</div>
                </div>
            </div>
            <div data-testid="tournament-rounds-round" class="tournament--rounds-item is-semi-final is-closed">
                <div class="tournament--rounds-item-head">
                    <div class="tournament--rounds-item-head-title">Demi-Finale</div>
                    <div class="tournament--rounds-item-head-separate"></div>
                    <div class="tournament--rounds-item-head-best-of">Best Of 1</div>
                </div>
            </div>
            <div data-testid="tournament-rounds-round" class="tournament--rounds-item is-final is-closed">
                <div class="tournament--rounds-item-head">
                    <div class="tournament--rounds-item-head-title">Finale</div>
                    <div class="tournament--rounds-item-head-separate"></div>
                    <div class="tournament--rounds-item-head-best-of">Best Of 1</div>
                </div>
            </div>
        </div>
    </div>
</div>
