<div id="MyTeams" class="my-teams">
    <div class="grid-wrapper">
        <div class="teams--container">
            <div class="teams--title"><span>Mes équipes</span></div>
            <div class="teams--list is-empty">
                <strong><span>Tu ne fais partie d’aucune équipe :/</span></strong
                ><span><span>Si tu reçois une invitation elle apparaitra ici</span></span
                ><button type="button" class="button is-cta" (click)="open(content)">Créer une nouvelle équipe</button>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2>CRÉATION D'ÉQUIPE</h2>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Donne un nom à ton équipe :</p>
        <div class="example-container">
            <form class="box"  [formGroup]="formTeam">
                <div class="form-group">
                  <input  class="form-control" type="text" name="name" placeholder="Nom de l'équipe" formControlName="name" autocomplete="off">
                  <div class="alert-link" *ngIf="f.name.touched && f.name.invalid">
                    <p *ngIf="f.name.errors.required">Required fields</p>
                  </div>
                </div>
                <div class="form-group">
                  <input  class="form-control" type="text" name="tag" placeholder="Tag de l'équipe" formControlName="tag" autocomplete="off">
                  <div class="alert-link" *ngIf="f.tag.touched && f.tag.invalid">
                    <p *ngIf="f.tag.errors.required">Required fields</p>
                  </div>
                </div>

        <button type="button" class="btn btn-outline-dark confirm-btn d-block" style="margin: 0 auto;" (click)="confirm()">Créer l'équipe</button>
              </form>
          </div>
    </div>
</ng-template>