.grid-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.teams--title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 40px 20px 20px;
    border-bottom: 1px solid #c0c3cb;
    margin-bottom: 10px;
}
.teams--list.is-empty {
    text-align: center;
    padding: 80px 0;
}
.teams--list.is-empty strong,.teams--list.is-empty span {
    font-size: 18px;
    display: block;
    margin: 10px 0;
}
.button.is-cta:hover {
    border: 3px solid #11cdef;
    color: white;
    background-color: black;
    font-weight: bold;
    background-image: none;
}
.button.is-cta {
    background-color: white;
    box-shadow: 0 4px 14px rgb(0 0 0 / 30%);
    color: black;
    cursor: pointer;
}
.button {
    border-radius: 3px;
}
.button {
    min-width: 150px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: initial;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 13px 20px 14px;
    transition: all .2s ease;
    position: relative;
}
.alert-link>p, .alert-link {
    font-size: 15px;
    font-weight: 900;
    color: red;
    text-decoration: underline;
}

::ng-deep.box{
    .form-control.ng-touched.ng-invalid {
        border: 2px solid red;
        color: red
    }
}
::ng-deep.mat-form-field-infix  {
    width: 320px !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    color: #323639;
}
.teams--team-add {
    font-size: 18px;
    font-weight: 600;
    color: #818797;
    text-align: center;
    text-decoration: underline;
    border-radius: 5px;
    border: 2px dashed #818797;
    transition: all .2s ease;
    cursor: pointer;
    padding: 107px 20px;
}
.teams--team-add .add-icon:before {
    content: "";
    width: 30px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    margin-left: -15px;
    margin-top: -3px;
    left: 50%;
    top: 50%;
}
.teams--team-add .add-icon:after {
    content: "";
    width: 30px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    transform: rotate(
90deg
);
    position: absolute;
    margin-left: -15px;
    margin-top: -3px;
    left: 50%;
    top: 50%;
}