
#games {
    padding: 40px 0;
    background-color: black;
}
p { margin-bottom: 40px}
h2 {font-size: 48px;}
h2,p {color: azure;}
@media (min-width: 576px) {
    h2 {
        font-size: 76px;
    }
}
