<div _ngcontent-pag-c371="" class="user-profile-body-container row m-0">
    <div _ngcontent-pag-c371="" class="col-12 col-lg-3 col-xxl-2 my-2 p-1 p-xl-2">
        <div _ngcontent-pag-c371="" class="user-profile-left-content position-relative">
            <app-profile-user-picture
                _ngcontent-pag-c371=""
                atid="EditProfile4420"
                document="ProfileImage"
                class="profile-image position-absolute"
                _nghost-pag-c368=""
                ><div _ngcontent-pag-c368="" class="image-upload-container ng-star-inserted">
                    <div _ngcontent-pag-c368="">
                        <div _ngcontent-pag-c368="" class="profile-image-container position-relative ng-star-inserted">
                            <div _ngcontent-pag-c368="" class="profile-image position-relative d-block">
                                <div _ngcontent-pag-c368="" class="w-100 h-100 user-avatar">
                                    <img
                                        _ngcontent-pag-c368=""
                                        default="/assets/img/default/default-images-player.svg"
                                        src="/assets/img/default/default-images-player.svg"
                                        class="image-loaded"
                                    />
                                </div>
                            </div>
                        </div>
                        <!----><!---->
                    </div>
                    <!----><!---->
                </div>
                <!----><!----><!----><!----></app-profile-user-picture
            ><app-profile-overview _ngcontent-pag-c371="" class="mt-3" _nghost-pag-c370=""
                ><div
                    _ngcontent-pag-c370=""
                    class="profile-overview-container position-relative w-100 text-center align-items-center justify-content-center flex-wrap d-lg-block p-2 w-100"
                >
                    <div _ngcontent-pag-c370="" class="color-white profile-overview-name mb-1">
                        <div _ngcontent-pag-c370="" class="text-uppercase medium-text font-weight-bold">Manjato#4962</div>
                        <div _ngcontent-pag-c370="" class="smallest-text">
                            <span _ngcontent-pag-c370="" atid="ProfileOverview439">Membre depuis le</span> 06/02/2021
                        </div>
                    </div>
                    <div _ngcontent-pag-c370="" class="profil-overview-country mt-2 ng-star-inserted">
                        <div _ngcontent-pag-c370="" class="d-flex justify-content-center">
                            <div _ngcontent-pag-c370="" class="profile-user-info-country-flag mr-2 ng-star-inserted">
                                <img
                                    _ngcontent-pag-c370=""
                                    src="https://esm-dev-public.s3.amazonaws.com/country/5c3ca0e53c46a421b83a8a72/28df6fdd-7718-43fc-aa6b-e950bc1e28e2.png"
                                />
                            </div>
                            <!----><span _ngcontent-pag-c370="" atid="ProfileOverview1116" class="color-white text-uppercase"
                                >France</span
                            >
                        </div>
                    </div>
                    <!---->
                    <div _ngcontent-pag-c370="" class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <div _ngcontent-pag-c370="" class="profil-overview-age text-uppercase">
                        <h5 _ngcontent-pag-c370="" atid="ProfileOverview1612">Âge</h5>
                        <span _ngcontent-pag-c370="" atid="ProfileOverview1712">-</span
                        ><!---->
                    </div>
                    <div _ngcontent-pag-c370="" class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <!---->
                    <div _ngcontent-pag-c370="" class="profil-overview-languages text-uppercase">
                        <h5 _ngcontent-pag-c370="" atid="ProfileOverview4212">Langues</h5>
                        <span _ngcontent-pag-c370="" atid="ProfileOverview4312">en</span>
                    </div>
                    <div _ngcontent-pag-c370="" class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <div _ngcontent-pag-c370="" class="profil-overview-about mb-3 smallest-text">
                        <h5 _ngcontent-pag-c370="" atid="ProfileOverview4712" class="text-center text-uppercase">
                            À propos de moi
                        </h5>
                        <div
                            _ngcontent-pag-c370=""
                            class="color-white text-justify smallest-text m-2 text-break ng-star-inserted"
                        ></div>
                        <!----><!---->
                    </div>
                    <div _ngcontent-pag-c370="" class="mt-2 d-block d-lg-none d-flex justify-content-center ng-star-inserted">
                        <app-profile-sociallink _ngcontent-pag-c370="" _nghost-pag-c369=""
                            ><!---->
                            <div _ngcontent-pag-c369="" class="d-flex ng-star-inserted">
                                <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                            </div>
                            <!----><!----></app-profile-sociallink
                        >
                    </div>
                    <!---->
                </div>
                <!----></app-profile-overview
            >
        </div>
    </div>
    <div _ngcontent-pag-c371="" class="col-12 col-lg-9 col-xxl-10 my-2 p-1 p-xl-2">
        <div _ngcontent-pag-c371="" class="user-profile-board">
            <div _ngcontent-pag-c371="" class="user-profile-board-content">
                <mat-tab-group _ngcontent-pag-c371="" animationduration="0ms" class="mat-tab-group mat-primary"
                    ><mat-tab-header class="mat-tab-header"
                        ><div
                            aria-hidden="true"
                            mat-ripple=""
                            class="mat-ripple mat-tab-header-pagination mat-tab-header-pagination-before mat-elevation-z4 mat-tab-header-pagination-disabled"
                        >
                            <div class="mat-tab-header-pagination-chevron"></div>
                        </div>
                        <div class="mat-tab-label-container">
                            <div role="tablist" class="mat-tab-list" style="transform: translateX(0px)">
                                <div class="mat-tab-labels">
                                    <div
                                        role="tab"
                                        mattablabelwrapper=""
                                        mat-ripple=""
                                        cdkmonitorelementfocus=""
                                        class="mat-ripple mat-tab-label mat-focus-indicator mat-tab-label-active ng-star-inserted"
                                        id="mat-tab-label-0-0"
                                        tabindex="0"
                                        aria-posinset="1"
                                        aria-setsize="1"
                                        aria-controls="mat-tab-content-0-0"
                                        aria-selected="true"
                                        aria-disabled="false"
                                    >
                                        <div class="mat-tab-label-content"><!---->Fil d'actualité<!----></div>
                                    </div>
                                    <!---->
                                </div>
                                <mat-ink-bar
                                    class="mat-ink-bar"
                                    style="visibility: visible; left: 0px; width: 153px"
                                ></mat-ink-bar>
                            </div>
                        </div>
                        <div
                            aria-hidden="true"
                            mat-ripple=""
                            class="mat-ripple mat-tab-header-pagination mat-tab-header-pagination-after mat-elevation-z4 mat-tab-header-pagination-disabled"
                        >
                            <div class="mat-tab-header-pagination-chevron"></div></div
                    ></mat-tab-header>
                    <div class="mat-tab-body-wrapper"><div
                                class="mat-tab-body-content ng-tns-c254-8 ng-trigger ng-trigger-translateTab"
                                style="transform: none"
                            >
                                <div _ngcontent-pag-c371="" class="profil-user-feed-empty ng-star-inserted" style="">
                                    <span _ngcontent-pag-c371="" atid="Feed612">Pas de nouvelle actualité</span>
                                </div>
                                <!---->
                            </div></mat-tab-body
                        ><!---->
                    </div></mat-tab-group
                >
            </div>
        </div>
    </div>
</div>
