<div class="user-profile-body-container row m-0">
    <div class="col-12 col-lg-3 col-xxl-2 my-2 p-1 p-xl-2">
        <div class="user-profile-left-content position-relative">
        <div
                   
                    class="profile-overview-container position-relative w-100 text-center align-items-center justify-content-center flex-wrap d-lg-block p-2 w-100"
                >
                    <div class="color-white profile-overview-name mb-1">
                        <div class="text-uppercase medium-text font-weight-bold">Manjato#4962</div>
                        <div class="smallest-text">
                            <span atid="ProfileOverview439">Membre depuis le</span> 06/02/2021
                        </div>
                    </div>
                    <div class="profil-overview-country mt-2 ng-star-inserted">
                        <div class="d-flex justify-content-center">
                            <div class="profile-user-info-country-flag mr-2 ng-star-inserted">
                                <img
                                   
                                    src="https://esm-dev-public.s3.amazonaws.com/country/5c3ca0e53c46a421b83a8a72/28df6fdd-7718-43fc-aa6b-e950bc1e28e2.png"
                                />
                            </div>
                            <!----><span atid="ProfileOverview1116" class="color-white text-uppercase"
                                >France</span
                            >
                        </div>
                    </div>
                    <!---->
                    <div class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <div class="profil-overview-age text-uppercase">
                        <h5 atid="ProfileOverview1612">Âge</h5>
                        <span atid="ProfileOverview1712">-</span
                        ><!---->
                    </div>
                    <div class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <!---->
                    <div class="profil-overview-languages text-uppercase">
                        <h5 atid="ProfileOverview4212">Langues</h5>
                        <span atid="ProfileOverview4312">en</span>
                    </div>
                    <div class="primary-color mb-4 mt-2 text-nowrap overview-separation">
                        ...................
                    </div>
                    <div class="profil-overview-about mb-3 smallest-text">
                        <h5 atid="ProfileOverview4712" class="text-center text-uppercase">
                            À propos de moi
                        </h5>
                        <div  class="color-white text-justify smallest-text m-2 text-break ng-star-inserted"
                        ></div>
                        <!----><!---->
                    </div>
                    <div class="mt-2 d-block d-lg-none d-flex justify-content-center ng-star-inserted">
                    </div>
                    <!---->
                </div>
                <!----></app-profile-overview
            >
        </div>
    </div>
    <div class="col-12 col-lg-9 col-xxl-10 my-2 p-1 p-xl-2">
        <div class="user-profile-board">
            <div class="user-profile-board-content">
               
            </div>
        </div>
    </div>
</div>
