.game-content {
    border-radius: 8px;
    position: relative;
    height: 210px;
    overflow: hidden;
    margin: 2px;
    border: 2px solid transparent;
}
.game-content .carrousel-image {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.game-content-container .game-content .select-image {
    position: absolute;
    max-width: 150px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.game-content-container .game-content:hover {
    cursor: pointer;
    border: 2px solid #11cdef ;
    filter: drop-shadow(0 0 .75rem #11cdef );
}
.game-content-container .game-content:hover {
    transform: translateY(-5px);
    transition: .3s;
    box-shadow: 0 10px 13px -6px rgb(0 0 0 / 20%), 0 20px 31px 3px rgb(0 0 0 / 14%), 0 8px 38px 7px rgb(0 0 0 / 12%);
}