<!-- Footer -->
<mat-form-field>
    <mat-label>Selected tab index</mat-label>
    <input matInput type="number" [formControl]="selected" />
</mat-form-field>

<div>
    <button mat-raised-button class="example-add-tab-button" (click)="addTab(selectAfterAdding.checked)">Add new tab</button>
    <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
</div>

<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        Contents for {{ tab }} tab

        <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1" (click)="removeTab(index)">
            Delete Tab
        </button>
    </mat-tab>
</mat-tab-group>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h2>Gérez vos jeux préférés</h2>
        <h4>Personnalise ton expérience en sélectionnant tes jeux préférées</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="game-content-container ng-star-inserted" style="">
            <div class="row w-100 flex-md-wrap justify-content-left mx-auto my-3">
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content selected-game">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66c5d747d4c4c6ec5b866/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66c5d747d4c4c6ec5b866/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Apex legends</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content selected-game">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d81f5cf5a598347f45a2cd6/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d81f5cf5a598347f45a2cd6/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Auto Chess</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content selected-game">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66865d91454556ff4a279/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66865d91454556ff4a279/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Brawl Stars</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5f7f1204481ed16e674e3418/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5f7f1204481ed16e674e3418/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Brawlhalla</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content selected-game">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fc4b522d3e5b7716c685a4c/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fc4b522d3e5b7716c685a4c/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Call Of Duty Cold War</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ef0b6910dd9927946aeab4f/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ef0b6910dd9927946aeab4f/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Call of duty Mobile</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66bf1eea98b71ab0091c6/medias/CarrouselImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Call of duty Modern warfare</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e8307c38642776c25db0aa0/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e8307c38642776c25db0aa0/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Clash royale</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5c36302a0842120a74d1afdc/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5c36302a0842120a74d1afdc/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <span atid="ChooseGame1524" class="training ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1624" class="tracking ng-star-inserted"></span
                            ><!----><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">CSGO</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5f7f0e4b481ed14c964e3417/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5f7f0e4b481ed14c964e3417/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">FIFA 21</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cdd0c7f92d8a4579bfb73d0/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cdd0c7f92d8a4579bfb73d0/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <span atid="ChooseGame1524" class="training ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1624" class="tracking ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Fortnite</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d22ee8a601440c0de0a9e98/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d22ee8a601440c0de0a9e98/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Hearthstone</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e54f9f2c4f3030c7459d917/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e54f9f2c4f3030c7459d917/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Legends of Runeterra</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5c436c2c766ea609157540e8/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5c436c2c766ea609157540e8/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <span atid="ChooseGame1524" class="training ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1624" class="tracking ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">LOL</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e83080c537278233bfac7f2/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5e83080c537278233bfac7f2/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Mario kart tour</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/601bf502b837d139fdf27393/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/601bf502b837d139fdf27393/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1"><!----><!----><!----></div>
                    </div>
                    <div class="pl-1 mt-2 game-name">PUBG Mobile</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cbefb8ccf473930ea0237f1/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cbefb8ccf473930ea0237f1/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Rocket League</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fb4f10f3817ac75c9012e5c/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fb4f10f3817ac75c9012e5c/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Rogue Company</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cee8f0964b0737b6aa1e7ef/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5cee8f0964b0737b6aa1e7ef/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Super Smash Bros. Ultimate</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d31aa9684d0814f4c04bbd5/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5d31aa9684d0814f4c04bbd5/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">TFT</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66b16b706a54af7cc0deb/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ed66b16b706a54af7cc0deb/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Tom Clancy's Rainbow Six: Siege</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ee2000cca2d921b383b5c94/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5ee2000cca2d921b383b5c94/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <span atid="ChooseGame1524" class="training ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1624" class="tracking ng-star-inserted"></span
                            ><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Valorant</div>
                </div>
                <!---->
                <div
                    atid="ChooseGame516"
                    activitycategory="User"
                    activitylabel="user.settings.choose-game.game"
                    class="col-12 col-md-6 col-lg-3 game-item p-2 d-md-inline d-block mb-2 ng-star-inserted"
                >
                    <div class="game-content selected-game">
                        <img
                            class="carrousel-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fd1f24838e24b9b3200a9bd/medias/CarrouselImage"
                        /><img
                            class="select-image"
                            src="https://esm-prod-public.s3.amazonaws.com/game/5fd1f24838e24b9b3200a9bd/medias/SelectImage"
                        />
                        <div class="apis px-md-0 px-5 py-1">
                            <!----><!----><span atid="ChooseGame1724" class="tournaments ng-star-inserted"></span
                            ><!---->
                        </div>
                    </div>
                    <div class="pl-1 mt-2 game-name">Wild Rift</div>
                </div>
                <!----><!---->
            </div>
            <!---->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template>
