.btn {

    margin: 5px;

}
.game-content {
    border-radius: 8px;
    position: relative;
    height: 210px;
    overflow: hidden;
    margin: 2px;
    border: 2px solid transparent;
}
.game-content .carrousel-image {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.game-content-container .game-content .select-image {
    position: absolute;
    max-width: 150px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.game-content-container .game-content:hover,
.active {
    cursor: pointer;
    border: 2px solid #11cdef ;
    filter: drop-shadow(0 0 .75rem #11cdef );
}
.game-content-container .game-content:hover,
.active {
    transform: translateY(-5px);
    transition: .3s;
    box-shadow: 0 10px 13px -6px rgb(0 0 0 / 20%), 0 20px 31px 3px rgb(0 0 0 / 14%), 0 8px 38px 7px rgb(0 0 0 / 12%);
}
.game-content>img:hover {
    
    opacity: 1;
}
::ng-deep.mat-tab-label-active{
    background-color: #0c0c0c;
    border-radius: 8px 8px 0 0;
    height: 42px;
    color: #5e72e4;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #5e72e4;
}
.fa-trash{color: red;}
.confirm-btn {
    min-width: 150px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: initial;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 13px 20px 14px;
    transition: all 0.2s ease;
    position: relative;
    display: block;
    margin: 4% auto;
}
.confirm-btn:hover {
    border: 3px solid #11cdef;
    color: white;
    background-color: black;
    font-weight: bold;
    background-image: none;
}