<div class="header-lg">
    <nav class="navbar navbar-expand-xl navbar-light container">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Nicecactus</a>
        <div  class="w-100 d-flex justify-content-end">
            <div
            class="collapse navbar-collapse show "
            id="navbarSupportedContent"
            [ngClass]="{ show: navbarOpen }"
        >
            <ul class="navbar-nav menu-link align-items-center h-100 flex-grow-1 justify-content-end" >
                <li class="nav-item" *ngFor="let item of menuListes">
                    <a class="nav-link" href="#">{{ item }}</a>
                </li>
                <li class="nav-item m-3">
                    <i class="nav-link fa fa-shopping-bag fa-2x"></i>
                </li>
            </ul>
            <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item m-3">
                    <i class="nav-link fa fa-globe fa-2x"></i>
                </li>
                <li class="nav-item m-3">
                    <a class="nav-link" routerLink="/auth/login">Login</a>
                </li>
                <li class="nav-item m-3">
                    <a class="nav-link" routerLink="/auth/register">Join Now</a>
                </li>
            </ul>
        </div>
        </div>

    </nav>
</div>
