.main-wrapper {
    min-height: 100vh;
    background-color: #0c0c0c;
}
.subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    margin-top: 16px;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #fff;
}
.content {
    background: rgba(53, 50, 50, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: calc(100vh - 56px);
    z-index: 100;
}
.overlay {
    width: 100%;
    height: calc(100vh - 56px);
    top: 56px;
    left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-md {
        max-width: 100%;
        padding: 0;
    }
}
@media (min-width: 576px) {
    .title {
        font-size: 96px;
    }
    .subtitle {
        font-size: 32px;
    }
}