<div class="header-lg">
    <nav class="navbar navbar-expand-md navbar-light container">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Nicecactus</a>
        <div
            class="collapse navbar-collapse show justify-content-end"
            id="navbarSupportedContent"
            [ngClass]="{ show: navbarOpen }"
        >
            <ul class="navbar-nav mr-auto" *ngFor="let item of menuListes">
                <li class="nav-item m-3">
                    <a class="nav-link" href="#">{{ item }}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item m-3">
                    <i class="nav-link fa fa-shopping-bag fa-2x"></i>
                </li>
                <li class="nav-item m-3">
                    <i class="nav-link fa fa-globe fa-2x"></i>
                </li>
                <li class="nav-item m-3">
                    <a class="nav-link" routerLink="/auth/login">Login</a>
                </li>
                <li class="nav-item m-3">
                    <a class="nav-link" routerLink="/auth/register">Join Now</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
