
.program-card {
    box-shadow: 0 0 15px rgb(0 0 0 / 80%);
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    max-height: 272px;
    min-height: 272px;
    max-width: 310px;
    min-width: 310px;
    transition: box-shadow .2s;
}
.program-card.program-card-header{
    background-color: #000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 134px;
}
.program-card:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #b2f617;
    border: 2px solid #b2f617!important;
}