<a _ngcontent-scc-c362="" atid="ProgramCard00" activitycategory="Training" activitylabel="training.program-card"
    class="program-card d-flex flex-column h-100 position-relative overflow-hidden color-white"
    href="/fr/training/program/5e4e856ac6fa9350ccd4cef9/modules">
    <!---->
    <div _ngcontent-scc-c362="" class="program-card-header p-3 position-relative">
        <div _ngcontent-scc-c362="" class="program-card-background position-absolute h-100">
            <div _ngcontent-scc-c362="" class="top-gradient"></div>
            <div _ngcontent-scc-c362="" class="left-gradient"></div><img _ngcontent-scc-c362="" alt=""
                src="https://esm-prod-public.s3.amazonaws.com/training/program/5e4e856ac6fa9350ccd4cef9/medias/Cover">
        </div>
        <div _ngcontent-scc-c362="" class="program-card-content position-relative"><span _ngcontent-scc-c362=""
                atid="ProgramCard1312" class="name title text-uppercase color-white">Programme d'entraînement
                Débutant</span>
            <div _ngcontent-scc-c362="" class="info d-flex my-2"><img _ngcontent-scc-c362="" alt=""
                    src="https://esm-prod-public.s3.amazonaws.com/game/5c436c2c766ea609157540e8/00074b7a-190f-4c84-89a5-b302fdb2e3bc.png">
                <div _ngcontent-scc-c362="" class="level ml-4"><span _ngcontent-scc-c362="" atid="ProgramCard1720"
                        class="level-label">Niveau</span> : <span _ngcontent-scc-c362="" atid="ProgramCard17107"
                        class="text-capitalize beginner">beginner</span>
                    <mat-progress-bar _ngcontent-scc-c362="" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                        class="mat-progress-bar mat-primary beginner-progress" aria-valuenow="25" mode="determinate">
                        <svg width="100%" height="4" focusable="false"
                            class="mat-progress-bar-background mat-progress-bar-element">
                            <defs>
                                <pattern x="4" y="0" width="8" height="4" patternUnits="userSpaceOnUse"
                                    id="mat-progress-bar-177">
                                    <circle cx="2" cy="2" r="2"></circle>
                                </pattern>
                            </defs>
                            <rect width="100%" height="100%" fill="url('/fr/training/program#mat-progress-bar-177')">
                            </rect>
                        </svg>
                        <div class="mat-progress-bar-buffer mat-progress-bar-element"></div>
                        <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element"
                            style="transform: scale3d(0.25, 1, 1);"></div>
                        <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
                    </mat-progress-bar>
                </div>
            </div>
            <div _ngcontent-scc-c362="" class="d-flex justify-content-between align-items-center">
                <div _ngcontent-scc-c362="" class="duration d-flex color-white mt-3"><span _ngcontent-scc-c362=""
                        atid="ProgramCard2262">Durée estimée</span>: 4 heures </div>
                <!---->
            </div>
        </div>
    </div>
    <div _ngcontent-scc-c362="" class="separator">
        <div _ngcontent-scc-c362=""
            class="percentage position-absolute w-100 h-100 d-flex justify-content-center font-weight-bold"> 0% </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div _ngcontent-scc-c362="" class="program-card-footer p-2 mt-2">
        <div _ngcontent-scc-c362="" class="description h-100 overflow-hidden">
            <p>L’objectif de ce programme est de te faire découvrir les bases du jeu League of Legends.</p>
        </div>
    </div>
</a>