<div class="wrapper-page tracking">
    <div class="row">
        <div class="left col-12 col-lg-9">
            <div class="tracking-overview board">
                <div class="title-board d-flex align-items-baseline">
                    <div class="title-badge position-absolute background-tracking"></div><span
                        class="big-text text-capitalize title-txt">Vue
                        d'ensemble</span>
                    
                    
                </div>
                <div class="d-flex row">
                    <div class="info d-flex flex-wrap justify-content-between col-12 col-xl-5 order-2 order-xl-1">
                        <div class="left d-flex flex-column flex-auto">
                            <div class="card-info flex-auto"><span class="title">Temps total
                                    joué</span><span class="content">0h 0m</span></div>
                            <div class="card-info flex-auto"><span class="title">Ratio de
                                    victoire</span><span class="content">0%</span></div>
                        </div>
                        <div class="right flex-auto">
                            <div class="card-info"><span class="title">Partie(s) lancée(s)</span><span class="content">0</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="card-info flex-auto"><span class="title">Victoires</span><span class="content">0</span>
                                </div>
                                <div class="card-info flex-auto"><span class="title">Défaites</span><span class="content">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="graph col-12 col-xl-7 order-1 order-xl-2">
                        <div  class="card-info d-flex flex-column p-2 position-relative w-100 h-100">
                            <div  class="h-100 w-100 no-data not-enought-data">
                                <div  class="flex-fill w-100 h-100 my-auto position-relative">
                                    <div  class="h-100 w-100 mh-100 c3"
                                        style="max-height: 214.406px; position: relative;">
                                        <div class="c3-tooltip-container"
                                            style="position: absolute; pointer-events: none; display: none;"></div>
                                    </div>
                                </div>
                            </div>
                            <div 
                                class="no-data-filler d-flex justify-content-center align-items-center ng-star-inserted">
                                <div  class="no-data-graph d-flex m-auto col-10 ng-star-inserted"><img
                                         src="/assets/img/system/360.png" alt="">
                                    <div  class="ml-2">
                                        <h6  atid="Graph5012">Nicecactus 360 non détecté</h6>
                                        <p  atid="Graph5112" class="mb-0"><a 
                                                atid="Graph5164" routerlink="/download-nicecactus-360"
                                                activitylabel="graph.download360" href="/fr/download-nicecactus-360">Télécharge
                                                l'app Nicecactus 360</a> et
                                            installe la. </p>
                                        <p  atid="Graph584" class="ng-star-inserted">Besoin d'aide ?
                                            Consulte la <a  atid="Graph598" routerlink="/training/360"
                                                
                                                href="/fr/training/360">page Nicecactus 360</a> ou notre <a 
                                                atid="Graph5969" routerlink="/faq" href="/fr/faq">FAQ</a></p>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right col-12 col-lg-2">
            <div class="tracking-all-games board">
                <div class="title-board d-flex align-items-baseline">
                    <div class="title-badge position-absolute background-tracking"></div><span
                        class="big-text text-capitalize title-txt">Tous les
                        jeux</span>
                    
                    
                </div>
                <div class="card-info mb-3"><span class="title">Partie(s) jouée(s)</span><span class="content">0</span>
                    <div class="games d-flex flex-wrap mt-4">
                        <div class="game d-flex justify-content-center align-items-center mb-2 w-50 ng-star-inserted"><img
                                src="https://esm-prod-public.s3.amazonaws.com/game/5c436c2c766ea609157540e8/medias/IconImage"><span
                                class="ml-2">0</span></div>
                        
                        <div class="game d-flex justify-content-center align-items-center mb-2 w-50 ng-star-inserted"><img
                                src="https://esm-prod-public.s3.amazonaws.com/game/5c36302a0842120a74d1afdc/medias/IconImage"><span
                                class="ml-2">0</span></div>
                        
                        <div class="game d-flex justify-content-center align-items-center mb-2 w-50 ng-star-inserted"><img
                                src="https://esm-prod-public.s3.amazonaws.com/game/5cdd0c7f92d8a4579bfb73d0/medias/IconImage"><span
                                class="ml-2">0</span></div>
            
                        <div class="game d-flex justify-content-center align-items-center mb-2 w-50 ng-star-inserted"><img
                                src="https://esm-prod-public.s3.amazonaws.com/game/5ee2000cca2d921b383b5c94/medias/IconImage"><span
                                class="ml-2">0</span></div>
                    </div>
                </div>
                <div class="card-info"><span class="title">Ratio de victoire</span><span class="content">0%</span></div>
            </div>
        </div>

    </div>
</div>
