.board, .board-transparency {
    box-shadow: 0 15px 25px rgb(0 0 0 / 45%);
    width: 100%;
    color: #fff;
    margin-bottom: 32px;
    border-radius: 24px;
}
.board {
    background-color: #323639;
    padding: 24px 32px 32px;
}
.title-board .title-badge {
    width: 4px;
    height: 16px;
}
.background-tracking {
    background: #5f82ff;
    color: #000;
}