.board, .board-transparency {
    box-shadow: 0 15px 25px rgb(0 0 0 / 45%);
    width: 100%;
    color: #fff;
    margin-bottom: 32px;
    border-radius: 24px;
}
.board {
    background-color: #323639;
    padding: 24px 32px 32px;
}
.title-board .title-badge {
    width: 4px;
    height: 16px;
}
.background-tracking {
    background: #5f82ff;
    color: #000;
}
.card-info .title {
    color: #888c88;
    text-transform: uppercase;
    font-weight: 700;
}
.tracking-overview .card-info {
    margin: 16px;
}
.left, .right {
    width: 50%;
}
.card-info {
    background-color: #292d30;
    border-radius: 8px;
    box-shadow: inset 0 -1px 1px hsl(0deg 0% 100% / 25%), inset 0 2px 8px rgb(0 0 0 / 25%);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-info .content {
    font-size: 22px;
    margin-top: 6px;
}
.title-txt{
    margin-left: 12px;
}
.big-text {
    font-size: 22px;
}