<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="form-control-label">Plateforme</label>
        <input class="form-control form-control-sm" type="text" placeholder="Plateforme" />
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="logo" lang="en" />
        <label class="custom-file-label" for="logo"></label>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Sauvegarder</button>
</form>
