<form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form">
    <div class="form-group">
        <label class="form-control-label">Adresse e-mail</label>
        <input class="form-control form-control-sm" formControlName="email" placeholder="Adresse e-mail" type="email" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Mot de passe</label>
        <input class="form-control form-control-sm" formControlName="password" placeholder="Mot de passe" type="password" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Confirmation</label>
        <input
            class="form-control form-control-sm"
            formControlName="passwordConfirmation"
            placeholder="Confirmation"
            type="password"
        />
    </div>
    <ng-container formGroupName="profile">
        <div class="form-group">
            <label class="form-control-label">Prénom</label>
            <input class="form-control form-control-sm" formControlName="firstname" placeholder="Prénom" type="text" />
        </div>
        <div class="form-group">
            <label class="form-control-label">Nom</label>
            <input class="form-control form-control-sm" formControlName="lastname" placeholder="Nom" type="text" />
        </div>
        <div class="form-group">
            <label class="form-control-label">Pseudo</label>
            <input class="form-control form-control-sm" formControlName="username" placeholder="Pseudo" type="text" />
        </div>
        <div class="form-group">
            <label class="form-control-label">Devise</label>
            <ng-select formControlName="currency" [items]="dependencies.currencies" bindLabel="label" bindValue="id"></ng-select>
        </div>
        <div class="form-group">
            <label class="form-control-label">Langue</label>
            <ng-select formControlName="language" [items]="dependencies.languages" bindLabel="label" bindValue="id"></ng-select>
        </div>
    </ng-container>
    <div class="form-group">
        <div class="custom-file">
            <input class="custom-file-input form-control-alternative form-control-sm" id="coverImage" lang="en" type="file" />
            <label class="custom-file-label" for="coverImage"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary btn-sm btn-block">Sauvegarder</button>
        </div>
        <div class="col-auto">
            <button [routerLink]="['/', 'admin', 'user']" class="btn btn-default btn-sm btn-block" type="button">Annuler</button>
        </div>
    </div>
</form>
