<section class="tournament--match-tab is-visible">
    <div class="tournament--match-empty">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="currentColor" fill-rule="evenodd" d="M29.325 27.825h5.85v7.987H32.7V30.3h-9.188v5.512h-2.474v-7.987h5.813v-5.1H9.15v5.1h5.812v7.987h-2.474V30.3H3.3v5.512H.825v-7.987h5.85V20.25h10.087v-5.204h2.476v5.204h10.087v7.575zM18 9.946l-3.708 2.05.708-4.34-3-3.074 4.146-.633L18 0l1.854 3.949L24 4.582l-3 3.073.708 4.34L18 9.946z"></path></svg>
        <div class="tournament--match-empty-title"><span>Le bracket sera généré au début du tournoi.</span></div>
        <div style="margin-bottom: 3%;">
            <span>Début du tournoi :<br /><strong>samedi 20 mars 2021, 22:00</strong></span>
        </div>
    </div>
</section>
