<div class="tournament--participants-container">
    <div class="grid-wrapper">
        <div class="tournament--participants-title"><span>Ils sont déjà inscrits au tournoi « Clash 4 Glory »</span></div>
        <div class="container-full">
            <div class="row">
                <div class="col-sm-3 col-lg-2 mb-4"  *ngFor="let item of participants">
                    <div class="participant-list participant-grid">
                        <div class="participant-list-image">
                            <img *ngIf="item.avatar else defaultImage" class="img-fluid" [src]="item.avatar" loading="lazy" alt="">
                            <ng-template #defaultImage>   <img class="img-fluid" src="assets/img/avatars/default-avatar.png" loading="lazy" alt=""></ng-template>
                        </div>
                        <div class="participant-list-details">
                            <div class="participant-list-info">
                                <div class="participant-list-title">
                                    <h5>{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
