<div class="tournament--participants-container">
    <div class="grid-wrapper">
        <div class="tournament--participants-title"><span>Ils sont déjà inscrits au tournoi « Clash 4 Glory »</span></div>
        <ul>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="/static/media/default-avatar.f6d6bdb7.png" alt="Xx4bd3xX#7956" />
                    </div>
                    <span class="tournament--participants-participant-name">Xx4bd3xX#7956</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img
                            src="https://public.nicecact.us/user/602c3b45d9127e111b82a1b3/medias/ProfileImage"
                            alt="Quentin#8411"
                        />
                    </div>
                    <span class="tournament--participants-participant-name">Quentin#8411</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="/static/media/default-avatar.f6d6bdb7.png" alt="josevii12#8474" />
                    </div>
                    <span class="tournament--participants-participant-name">josevii12#8474</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="/static/media/default-avatar.f6d6bdb7.png" alt="Rafita#7453" />
                    </div>
                    <span class="tournament--participants-participant-name">Rafita#7453</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="https://public.nicecact.us/user/6034e8f8b392fb0e7ca39a72/medias/ProfileImage" alt="MHB#4849" />
                    </div>
                    <span class="tournament--participants-participant-name">MHB#4849</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="/static/media/default-avatar.f6d6bdb7.png" alt="Yoloior#5782" />
                    </div>
                    <span class="tournament--participants-participant-name">Yoloior#5782</span>
                </div>
            </li>
            <li>
                <div class="tournament--participants-participant">
                    <div class="tournament--participants-participant-avatar">
                        <img src="/static/media/default-avatar.f6d6bdb7.png" alt="Taralz#8704" />
                    </div>
                    <span class="tournament--participants-participant-name">Taralz#8704</span>
                </div>
            </li>
        </ul>
    </div>
</div>
