.tournament--participants-title {
    font-size: 20px;
    font-weight: 600;
    color: #323639;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 20px;
}
h5 {
    font-size: 19px;
}
.participant-list {
    background: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.participant-list:hover {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    position: relative;
    z-index: 99;
}
.participant-list:hover a.participant-list-favourite {
    color: #e74c3c;
    -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.participant-list .participant-list-image {
    margin-right: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    border: none;
}
.participant-list .participant-list-image img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
}

.participant-list-title {
    margin-bottom: 5px;
}

.participant-list-details ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.participant-list-details ul li {
    margin: 5px 10px 5px 0px;
    font-size: 13px;
}

.participant-banner .participant-list:hover {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: inherit;
}

/* participant Grid */
.participant-list.participant-grid {
    padding: 0px;
    display: block;
    border-bottom: none;
}

.participant-grid .participant-list-image {
    text-align: center;
    margin-right: 0px;
}
.participant-grid .participant-list-image img {
    height: 150px;
    width: 100%;
}

.participant-grid .participant-list-details {
    text-align: center;
    padding: 20px;
}
.participant-grid .participant-list-details ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.participant-grid .participant-list-details ul li {
    margin: 2px 5px;
}
.tournament--participants-container {
background: #e6e6e6;
}
