<div id="Team" class="team">
    <div class="grid-wrapper">
        <div class="team--container">
            <div class="team--header">
                <div class="team--header-cover">
                    <div class="team--header-cover-editable"
                        style="background-image: url(&quot;/static/media/default-cover-big.969d6375.png&quot;);">
                        <div class="dropzone"><input class="dropzone--fileinput" type="file">
                            <div>
                                <div class="dropzone--icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                <div class="dropzone--description"><span>Clique pour importer un
                                        fichier<br><strong>Fichiers : jpg, jpeg, png (10Mo max)</strong></span></div>
                            </div>
                        </div><span class="team--header-cover-editable-button"><svg viewBox="0 0 18 17">
                                <path fill="#FFF" fill-rule="evenodd"
                                    d="M11.7 0l1.647 1.833H16.2c.99 0 1.8.825 1.8 1.834v11c0 1.008-.81 1.833-1.8 1.833H1.8c-.99 0-1.8-.825-1.8-1.833v-11c0-1.009.81-1.834 1.8-1.834h2.853L6.3 0h5.4zM9 4.583c-2.484 0-4.5 2.054-4.5 4.584S6.516 13.75 9 13.75s4.5-2.053 4.5-4.583c0-2.53-2.016-4.584-4.5-4.584zm0 1.65c1.59 0 2.88 1.314 2.88 2.934S10.59 12.1 9 12.1c-1.59 0-2.88-1.313-2.88-2.933 0-1.62 1.29-2.934 2.88-2.934z">
                                </path>
                            </svg> <span>Modifier la bannière</span></span>
                    </div><button class="button is-three-dots"><em></em></button>
                </div>
                <div class="team--header-logo">
                    <div class="team--header-logo-editable "
                        style="background-image: url(&quot;/static/media/default-logo-big.b7319fb1.png&quot;);">
                        <div class="dropzone"><input class="dropzone--fileinput" type="file">
                            <div>
                                <div class="dropzone--icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                <div class="dropzone--description"><span>Clique pour importer un
                                        fichier<br><strong>Fichiers : jpg, jpeg, png (10Mo max)</strong></span></div>
                            </div>
                        </div><span class="team--header-logo-editable-button"><svg viewBox="0 0 18 17">
                                <path fill="#FFF" fill-rule="evenodd"
                                    d="M11.7 0l1.647 1.833H16.2c.99 0 1.8.825 1.8 1.834v11c0 1.008-.81 1.833-1.8 1.833H1.8c-.99 0-1.8-.825-1.8-1.833v-11c0-1.009.81-1.834 1.8-1.834h2.853L6.3 0h5.4zM9 4.583c-2.484 0-4.5 2.054-4.5 4.584S6.516 13.75 9 13.75s4.5-2.053 4.5-4.583c0-2.53-2.016-4.584-4.5-4.584zm0 1.65c1.59 0 2.88 1.314 2.88 2.934S10.59 12.1 9 12.1c-1.59 0-2.88-1.313-2.88-2.933 0-1.62 1.29-2.934 2.88-2.934z">
                                </path>
                            </svg> <span>Modifier</span></span>
                    </div>
                </div>
                <h1>[jlkj] - hlkj</h1>
            </div>
        </div>
        <div class="team--container">
            <div class="team--members">
                <div class="team--members-title">
                    <div class="team--members-title-number"><span>Joueurs [1]</span></div>
                    <div class="team--members-title-roles"><span>Rôles</span>
                        <div class="tooltip">
                            <div class="tooltip--icon"><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="IconInfoCircleSymbols" stroke="none" stroke-width="1" fill="none"
                                        fill-rule="evenodd">
                                        <g id="IconInfoCircle/status/info" transform="translate(-2.000000, -2.000000)"
                                            fill="currentColor">
                                            <path
                                                d="M11,17 L13,17 L13,11 L11,11 L11,17 L11,17 Z M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 L12,2 Z M12,20 C7.59,20 4,16.41 4,12 C4,7.59 7.59,4 12,4 C16.41,4 20,7.59 20,12 C20,16.41 16.41,20 12,20 L12,20 Z M11,9 L13,9 L13,7 L11,7 L11,9 L11,9 Z"
                                                id="IconInfoCircleShape"></path>
                                        </g>
                                    </g>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="team--members-list">
                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal"
                        style="cursor: grab;">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 650px;">
                                <div class="team--members-member is-pending">
                                    <div class="team--members-member-avatar"><img
                                            src="/static/media/default-avatar.f6d6bdb7.png" alt="Manjato#4962"></div>
                                    <div class="team--members-member-info">
                                        <div class="team--members-member-info-username">Manjato#4962</div>
                                        <div class="team--members-member-info-role"><svg class="IconStar"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                    d="M12 18.27L18.18 22l-1.64-7.03L22 10.24l-7.19-.61L12 3 9.19 9.63 2 10.24l5.46 4.73L5.82 22z">
                                                </path>
                                            </svg>&nbsp;<span>Propriétaire</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="team--members-list-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                role="button" aria-label="Go to slide 1">1</span></div>
                        <div class="team--members-list-button-next swiper-button-disabled" tabindex="-1" role="button"
                            aria-label="Next slide" aria-disabled="true"></div>
                        <div class="team--members-list-button-prev swiper-button-disabled" tabindex="-1" role="button"
                            aria-label="Previous slide" aria-disabled="true"></div><span class="swiper-notification"
                            aria-live="assertive" aria-atomic="true"></span>
                    </div><button data-testid="manage-members-button" type="button" class="button is-cta"><span>Gérer
                            les membres</span></button>
                </div>
            </div>
        </div>
    </div>
</div>