.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.form-group input,
button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.form-group input:focus,
button:hover {
    width: 300px;
    border-color: #2ecc71
}

button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

button:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}
.alert-link>p, .alert-link {
        font-size: 15px;
        font-weight: 900;
        color: red;
        text-decoration: underline;
}
.navbar-brand {
    color: white;
    font-size: 33px;
    cursor: pointer;
    font-weight: 900;
}
.navbar-brand:hover {
    color: #b2f617;
    border-bottom: 2px solid;
}
::ng-deep.box{
    .form-control.ng-touched.ng-invalid {
        border: 3px solid red;
        width: 300px;
        color: red
    }
}
@media (max-width: 767px) {
.box {
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 0;
}
}