.border {
    background: #ff5b51 !important;
    margin-right: 8px;
}
h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 0;
    letter-spacing: -0.01em;
    color: #d8d8d8;
}
select {
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    height: 36px;
}
@media (min-width: 1200px) {
    h2 {
        font-size: 48px;
    }
    .border {
        width: 8px;
        height: 40px;
    }
}
@media (min-width: 576px) {
    .section-wrapper {
        padding: 64px 64px 0;
    }
}
