<div id="community">
    <h2 class="text-center">Communauté</h2>
    <div class="d-flex flex-column flex-md-row w-100 mx-0 mt-3">
        <div class="d-flex flex-column card-wrapper">
            <div class="community-card ml-0">
                <div id="actuality">
                    <div class="d-flex align-items-baseline">
                      <span>
                          <h3>Actualités</h3>
                          <a>Voir plus</a>
                      </span>
                    </div>
                </div>
                <div class="d-flex w-100 m-0 flex-column flex-md-row"></div>
            </div>
        </div>
    </div>
</div>