.header-lg, .listing-langue {
    background-color: black;
    color: white;
}
.main-wrapper {
    min-height: 93vh;
    background-color: #ffffff;
}

.navbar-brand {
    color: white;
    font-size: 33px;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #b2f617;
    border-bottom: 2px solid;
}
.subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    color: white;
    margin-top: 16px;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 60%);
}
.navbar-nav.menu-link {
    
    cursor: pointer;
    .nav-item:hover{
        border-bottom: 5px solid #b2f617;
        cursor: pointer;
        a.nav-link{        color: #b2f617;}
    }
    .nav-item:hover:last-child{
        border-bottom: none;
        a.nav-link, i{        color: #b2f617;}
    }
}
.login-list{
    cursor: pointer;
    .nav-item:hover {
        a.nav-link, i{        color: #b2f617;}
    }
    }
.content {
    background: rgba(53, 50, 50, 0.5);
    width: 100%;
    padding: 20px;
    height: calc(100vh - 56px);
    z-index: 100;
}
.overlay, .bg-video {
    position: absolute;
    width: 100%;
    height: calc(100vh - 56px);
    left: 0;

}
button, .listing-langue>ul>li {
    font-size: 14px;
    background-image: linear-gradient(
90deg
,#d9fb33,#b2f617);
    border-color: #b2f617;
    font-weight: 700;
    font-weight: 700;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.listing-langue>ul>li {
    display: list-item;
    list-style-type: none;
}
button:hover, .listing-langue>ul>li:hover {
border: 1px solid #b2f617;
color: white;
background-color: black;
font-weight: bold;
background-image: none;

}
.overlay {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 0);
    background-size: 3px 3px;
    z-index: 2;
}
.bg-video {object-fit: cover;}
.svg-inline--fa.fa-w-10 {
    width: .625em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}
#back-to-top {
    background-image: linear-gradient(
90deg
, #d9fb33, #b2f617);
    border-radius: 125px;
    color: #121312;
    position: fixed;
    z-index: 9;
    right: 15px;
    bottom: 15px;
    font-size: 30px;
    line-height: 20px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}
.auth-mobile{display: block}
::ng-deep.dropdown-toggle:empty::after {
    display: none;
}
@media only screen and (min-width: 1200px) {
    .auth-mobile{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-md {
        max-width: 100%;
        padding: 0;
    }
}
@media (min-width: 576px) {
    .title {
        font-size: 96px;
    }
    .subtitle {
        font-size: 32px;
    }
}
