

.tournament--header-game {
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    padding: 8px;
    margin-top: -50px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}
.tournament--header-infos {
    width: calc(100% - 101px);
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: -50px;
}
.tournament--header-infos-localization-date {
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 0 10px;
}
.tournament--header-tournament-infos {
    background-color: #1a1a1a;
    border-bottom: 1px solid #000;
}

.tournament--header-tournament-infos-title {
    font-size: 24px;
    font-weight: 700;
}
.tournament--header-tournament-infos-discipline {
    font-size: 18px;
    font-weight: 500;
}
.tournament--header-tournament-infos .tag {
    min-width: 136px;
    margin: 14px auto 0px;
    text-align: center;
}
.tournament--header-tournament-infos-middle {
    flex-shrink: 0;
    flex-grow: 1;
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
}
.tournament--header-tournament-infos-right {
    flex-shrink: 0;
    padding-left: 8px;
}
.tournament--header-tournament-infos-cashprize {
    max-width: 300px;
    align-items: center;
    flex-direction: row;
    display: flex;
    flex-shrink: 0;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: initial;
}
.tournament--tabs-list button {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: initial;
    color: rgb(50, 54, 57);
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    padding: 16px 24px;
    display: inline-block;
    border: none;
    position: relative;
}
.tournament--tabs-list button:not(.is-disabled):hover {
    color: rgb(178, 246, 23);
}
.tournament--tabs-list button::after {
    content: "";
    height: 3px;
    background-color: rgb(178, 246, 23);
    transition: all 0.2s ease 0s;
    border-radius: 3px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 50%;
    left: 50%;
}
