

.tournament--header-game {
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    padding: 8px;
    margin-top: -50px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}
.tournament--header-infos {
    width: calc(100% - 101px);
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: -50px;
}
.tournament--header-infos-localization-date {
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 0 10px;
}
.tournament--header-tournament-infos {
    background-color: #1a1a1a;
    border-bottom: 1px solid #000;
}

