<div class="tournament--header-container">
    <img src="assets/img/avatars/background.png" class="w-100 background" alt="Clash Royale">
    <div class="header--tournament">
        <div class="grid-wrapper">
            <div class="tournament--header-game">
               
                <div class="round-circle">
                  <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="" alt=""> 
                </div>
            </div>
            <div class="tournament--header-infos">
                <div class="tournament--header-infos-platforms">
                </div>
                <div class="tournament--header-infos-localization">
                    <div class="tournament--header-infos-localization-date">samedi 27 février 2021, 22:15</div>
                </div>
            </div>
        </div>
        <div class="tournament--header-tournament-infos mb-5">
            <div class="grid-wrapper row">
                <div class="tournament--header-tournament-infos-left col-4">
                    <div class="tournament--header-tournament-infos-title">Clash 4 Glory</div>
                    <div class="tournament--header-tournament-infos-discipline">Bracket, Solo 1v1</div>
                    <div data-testid="tag-is-not-premium" class="tag"><span>Tournoi gratuit</span></div>
                </div>
                <div class="tournament--header-tournament-infos-middle col-4">
                    <div class="tournament--header-tournament-infos-cashprize">
                        <div class="tournament--header-tournament-infos-cashprize-cash">
                            <div class="tournament--header-tournament-infos-cashprize-cash-amount"><span>100 €</span> cash
                                prize</div>
                            <div class="tournament--header-tournament-infos-cashprize-cash-text"><span>Gains total distribué
                                    entre les 3 premières places</span></div>
                        </div>
                    </div>
                </div>
                <div class="tournament--header-tournament-infos-right col-4">
                    <div class="tournament--header-tournament-infos-registration">
                        <div class="tournament--header-tournament-infos-registration-participants">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15"  style="color: #11cdef;" viewBox="0 0 14 11"><g fill-rule="evenodd" stroke="none" stroke-width="1"><g transform="translate(-5 -6)"><path d="M10 17L5 12 6.41 10.59 10 14.17 17.59 6.58 19 8z"></path></g></g></svg>
                            <span style="color: #11cdef;">Inscriptions ouvertes</span>
                            <div class="tooltip">
                                <div class="tooltip--icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tournament--header-tournament-infos-registration-actions"><button type="button"
                            data-testid="tournament-register-solo-button"
                            class="button primary is-register-to-tournament"
                            disabled=""><span>S'inscrire</span></button></div>
                    <div class="tournament--registration-actions-upgrade"><span class="float-right"><span>You need to
                                confirm your email before signing up to a tournament</span>&nbsp;<a href="#"><span>Resend
                                    confirmation request</span></a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tournament--tabs ">
    <div class="tournament--tabs-list">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper text-center">
                <button type="button" class="swiper-slide" [ngClass]="{active: selected === item.toLowerCase()}" (click)="selected = item.toLowerCase()"  *ngFor="let item of menuList" [routerLink]="[ './' + item.toLowerCase() ]"><span>{{item}}</span></button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>