<div class="tournament--header-container">
    <div class="grid-wrapper">
        <div class="tournament--header-game">
            <div class="tooltip">
                <div class="tooltip--icon"><i class="fas fa-exclamation-triangle"></i></div>
            </div><!-- <img
                src="https://d38vxosuqi9cwz.cloudfront.net/eyJidWNrZXQiOiJnNGctYXNzZXRzIiwia2V5IjoidXBsb2Fkcy9tZWRpYS8xLzYxNzQtaWNvbmUtY2xhc2gtcm95YWxlLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTY4LCJoZWlnaHQiOjE2OCwiZml0IjoiY292ZXIifX19"
                alt="Clash Royale"> -->
        </div>
        <div class="tournament--header-infos">
            <div class="tournament--header-infos-platforms">
            </div>
            <div class="tournament--header-infos-localization">
                <div class="tournament--header-infos-localization-date">samedi 27 février 2021, 22:15</div>
            </div>
        </div>
    </div>
    <div class="tournament--header-tournament-infos">
        <div class="grid-wrapper row">
            <div class="tournament--header-tournament-infos-left col-4">
                <div class="tournament--header-tournament-infos-title">Clash 4 Glory</div>
                <div class="tournament--header-tournament-infos-discipline">Bracket, Solo 1v1</div>
                <div data-testid="tag-is-not-premium" class="tag"><span>Tournoi gratuit</span></div>
            </div>
            <div class="tournament--header-tournament-infos-middle col-4">
                <div class="tournament--header-tournament-infos-cashprize">
                    <div class="tournament--header-tournament-infos-cashprize-cash">
                        <div class="tournament--header-tournament-infos-cashprize-cash-amount"><span>100 €</span> cash
                            prize</div>
                        <div class="tournament--header-tournament-infos-cashprize-cash-text"><span>Gains total distribué
                                entre les 3 premières places</span></div>
                    </div>
                </div>
            </div>
            <div class="tournament--header-tournament-infos-right col-4">
                <div class="tournament--header-tournament-infos-registration">
                    <div class="tournament--header-tournament-infos-registration-participants"><span>Inscriptions ouvertes</span>
                        <div class="tooltip">
                            <div class="tooltip--icon"></div>
                        </div>
                    </div>
                </div>
                <div class="tournament--header-tournament-infos-registration-actions"><button type="button"
                        data-testid="tournament-register-solo-button"
                        class="button primary is-register-to-tournament is-disable"
                        disabled=""><span>S'inscrire</span></button></div>
                <div class="tournament--registration-actions-upgrade"><span class="float-right"><span>You need to
                            confirm your email before signing up to a tournament</span>&nbsp;<a href="#"><span>Resend
                                confirmation request</span></a></span></div>
            </div>
        </div>
    </div>
</div>
<div class="tournament--tabs ">
    <div class="tournament--tabs-list">
        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper"><button type="button"
                    class="swiper-slide is-active swiper-slide-active"><span>Matchs</span></button><button type="button"
                    class="swiper-slide swiper-slide-next"><span>Règles</span></button><button type="button"
                    class="swiper-slide"><span>Rounds</span></button><button type="button"
                    class="swiper-slide"><span>Bracket</span></button><button type="button"
                    class="swiper-slide"><span>Participants</span></button></div><span class="swiper-notification"
                aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>