<div class="viewport--content">
    <section class="detail--game">
        <div class="tournaments--game-header-featured-tournament">
            <h1>Clash Royale </h1>
            <div class="tournaments--game-header-featured-tournament-title"><a title="Clash 4 Glory"
                    href="/tournament/148890">Clash 4 Glory</a></div>
            <div class="tournaments--game-header-featured-tournament-when">
                <div class="tournaments--game-header-featured-tournament-when-date">samedi 27 février 2021</div>
                <div class="tournaments--game-header-featured-tournament-when-time">22:15</div>
            </div>
<button type="button" data-testid="tournament-register-solo-button"
                class="button primary is-register-to-tournament "><span>S'inscrire</span></button>
            <div class="tournaments--game-header-featured-tournament-cashprize">100 €</div>
        </div>
        <div class="tournaments--list">
            <div class="tournaments--lists-day featured-tournaments"><span>Tournois à l'affiche</span></div>
            <table class="tournaments--lists-table">
                <thead>
                    <tr>
                        <th><span>Heure</span></th>
                        <th><span>Format</span></th>
                        <th><span>Discipline</span></th>
                        <th><span>Gains</span></th>
                        <th><span>Participants</span></th>
                        <th class="tournaments--lists-table-action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="is-mobile-display">
                        <td colspan="7" class="is-the-first-extra-row"><strong class="is-rule-name">Clash 4
                                Glory</strong></td>
                    </tr>
                    <tr>
                        <td class="tournaments--lists-table-date">27/02/2021, 22:15</td>
                        <td class="tournaments--lists-table-format"><svg viewBox="0 0 19 20" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-97.000000, -2.000000)" fill="#FFFFFF">
                                        <g transform="translate(96.000000, 2.000000)">
                                            <g>
                                                <path
                                                    d="M11.0472674,8.49834284 L11.0472674,11.1497466 L16.1859874,11.1497466 L16.1859874,15.0086583 L19.1666667,15.0086583 L19.1666667,19.0781008 L17.905466,19.0781008 L17.905466,16.2699353 L13.2248711,16.2699353 L13.2248711,19.0781008 L11.9644156,19.0781008 L11.9644156,15.0086583 L14.9256083,15.0086583 L14.9256083,12.4108326 L5.90772581,12.4108326 L5.90772581,15.0086583 L8.8689185,15.0086583 L8.8689185,19.0781008 L7.60846295,19.0781008 L7.60846295,16.2699353 L2.92786805,16.2699353 L2.92786805,19.0781008 L1.66666667,19.0781008 L1.66666667,15.0086583 L4.64734668,15.0086583 L4.64734668,11.1497466 L9.78606674,11.1497466 L9.78606674,8.49834284 L11.0472674,8.49834284 Z M10.4166288,0.833333333 L11.3612057,2.84497325 L13.4733439,3.16755471 L11.9449864,4.73339801 L12.3057826,6.94440423 L10.4166288,5.90050869 L8.52747506,6.94440423 L8.88827132,4.73339801 L7.35991381,3.16755471 L9.47205195,2.84497325 L10.4166288,0.833333333 Z">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <div><span>Bracket</span></div>
                        </td>
                        <td class="tournaments--lists-table-rules"><strong class="is-rule-name">Clash 4 Glory</strong>
                            <div><span>1</span> <strong class="is-versus">V</strong> <span>1</span></div>
                        </td>
                        <td class="tournaments--lists-table-reward">
                            <div><span><strong>100</strong>€</span></div>
                        </td>
                        <td class="tournaments--lists-table-participants"><span class="is-open"><strong>5</strong> /
                                512</span></td>
                        <td class="tournaments--lists-table-action"><a class="button secondary"
                                href="/tournament/148890">Voir Tournoi</a></td>
                    </tr>
                    <tr class="is-mobile-display">
                        <td colspan="7" class="is-the-last-extra-row">
                            <div class="tag"><span>Tournoi gratuit</span></div><a class="button secondary"
                                href="/tournament/148890">Voir Tournoi</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>