<div class="viewport--content">
    <section class="detail--game">
        <div class="tournaments--game-header-featured-tournament">
            <h1>Clash Royale</h1>
            <div class="tournaments--game-header-featured-tournament-when">
                <div class="tournaments--game-header-featured-tournament-when-date">samedi 27 février 2021</div>
                <div class="tournaments--game-header-featured-tournament-when-time">22:15</div>
            </div>
            <button type="button" data-testid="tournament-register-solo-button" class="button primary is-register-to-tournament">
                <span>S'inscrire</span>
            </button>
            <div class="tournaments--game-header-featured-tournament-cashprize">100 €</div>
        </div>
        <div class="tournaments--list">
            <div class="tournaments--lists-day featured-tournaments"><span>Tournois à l'affiche</span></div>
            <table class="tournaments--lists-table">
                <thead>
                    <tr>
                        <th><span>Heure</span></th>
                        <th><span>Format</span></th>
                        <th><span>Discipline</span></th>
                        <th><span>Gains</span></th>
                        <th><span>Participants</span></th>
                        <th class="tournaments--lists-table-action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tournaments--lists-table-date">27/02/2021, 22:15</td>
                        <td class="tournaments--lists-table-format">
                            <div><span>Bracket</span></div>
                        </td>
                        <td class="tournaments--lists-table-rules">
                            <strong class="is-rule-name">Clash 4 Glory</strong>
                            <div><span>1</span> <strong class="is-versus">V</strong> <span>1</span></div>
                        </td>
                        <td class="tournaments--lists-table-reward">
                            <div>
                                <span><strong>100</strong>€</span>
                            </div>
                        </td>
                        <td class="tournaments--lists-table-participants">
                            <span class="is-open"><strong>5</strong> / 512</span>
                        </td>
                        <td class="tournaments--lists-table-action"><a class="button secondary">Voir Tournoi</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tournaments--list">
            <div class="tournaments--lists-day"><span>Aujourd'hui</span></div>
            <table class="tournaments--lists-table">
                <thead>
                    <tr>
                        <th><span>Heure</span></th>
                        <th><span>Format</span></th>
                        <th><span>Discipline</span></th>
                        <th><span>Gains</span></th>
                        <th><span>Participants</span></th>
                        <th class="tournaments--lists-table-action"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="tournaments--lists-table-date"><span>16:25</span></td>
                        <td class="tournaments--lists-table-format">
                            <div><span>Bracket</span></div>
                        </td>
                        <td class="tournaments--lists-table-rules">
                            <strong class="is-rule-name">Clash 4 Glory</strong>
                            <div><span>1</span> <strong class="is-versus">V</strong> <span>1</span></div>
                        </td>
                        <td class="tournaments--lists-table-reward">
                            <div>
                                <span><strong>5</strong>€</span>
                            </div>
                        </td>
                        <td class="tournaments--lists-table-participants">
                            <span class="is-open"><strong>52</strong> / 128</span>
                        </td>
                        <td class="tournaments--lists-table-action">
                            <a class="button secondary" href="/tournament/147912">Voir Tournoi</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
