h1 {
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #323639;
    padding: 30px 0;
}
.tournaments--game-header-featured-tournament-title {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #323639;
    padding: 60px 0 15px;
}
.tournaments--game-header-featured-tournament-when {
    width: auto;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    display: flex;
}
.tournaments--game-header-featured-tournament-infos {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    flex-direction: row;
    display: flex;
    padding: 8px 0;
    margin-bottom: 10px;
}
.button {
    min-width: 150px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: initial;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 13px 20px 14px;
    transition: all .2s ease;
    position: relative;
}
.game-header-featured-tournament-cashprize {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 10px 0 25px;
}
.tournaments--lists-day {
    max-width: 360px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #b2f617;
    padding: 6px 12px;
}
table {
    width: 100%;
    display: table;
}
thead tr th {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    background-color: #323639;
    padding: 10px 20px;
    width: 14.28%;
}