<nav
    #sidenav
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
    id="sidenav-main"
>
    <div class="scrollbar-inner">
        <nicecactus-platform-sidebar
            [asideSidebarItems]="asideSidebarItems"
            [sidebarItems]="sidebarItems"
        ></nicecactus-platform-sidebar>
    </div>
</nav>
<!-- Main content -->
<div class="main-content" id="panel">
    <nicecactus-platform-navbar (signOut)="onSignOut()" [currentUser]="currentUser$ | async"></nicecactus-platform-navbar>
    <nicecactus-platform-header></nicecactus-platform-header>
    <div class="container-fluid mt--6">
        <router-outlet></router-outlet>
        <nicecactus-platform-footer></nicecactus-platform-footer>
    </div>
</div>
