.grid-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.tournament--tabs-container {
    padding: 5px 25px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.tournament--description--text {
    color: black;
}
.tournament--rewards {
    margin: 20px auto 40px;
    padding: 24px;
    background: rgba(0,0,0,.04);
}
.tournament--rewards--list {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    width: 100%;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: initial;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.tournament--rewards--list--item:first-child {

    border-right: 1px solid #323639;
}
.tournament--rewards--list--item {
    flex-grow: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 101%;
    box-sizing: border-box;
    text-align: center;
}
.tournament--rewards--list--item--reward-value.is-cash {
    color: #11cdef;
    font-size: 24px;
}
.tournament--rewards--list--item--rank {
    text-align: center;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}
.tournament--rewards--list--item-sponsor-sponsored-by {
    font-size: 14px;
    color: grey;
    flex-grow: 1;
    padding-top: 10px;
}
.tournament--rewards--list--item-sponsor {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}
.tournament--rewards--list--item--reward-value {
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tournament--rewards--list .swiper-container .swiper-slide {
    padding: 0 10px;
}
.subtitle:before {
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.subtitle:before {
    background-color: #233dd2;
    box-shadow: 0 -2px 4px #233dd2;
}
.subtitle {
    border-color: hsla(0,0%,100%,.25);
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid rgba(50,54,57,.15);
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding: 10px 0 6px;
    margin-bottom: 20px;
    color: black;
}

::ng-deep mat-expansion-panel.mat-expanded{
    border-left: 20px solid #000202;
}
::ng-deep mat-expansion-panel-header {
    min-height: 70px;
    font-weight: 600;
    color: #323639;
    text-transform: uppercase;
    line-height: normal;
}
::ng-deep.mat-expansion-indicator::after {
    padding: 10px;
}