<div class="grid-wrapper">
  <div data-testid="rewards-details" class="tournament--rewards">
    <div class="subtitle"><span>À gagner sur ce tournoi</span></div>
    <div class="tournament--rewards--list">
      <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
        <div class="swiper-wrapper">
          <div class="swiper-slide tournament--rewards--list--item swiper-slide-active">
            <div class="tournament--rewards--list--item--reward">
              <div class="tournament--rewards--list--item--reward-value is-cash">12 €</div>
            </div><span class="tournament--rewards--list--item--rank first"><span>1er place</span></span>
            <div class="tournament--rewards--list--item-sponsor-sponsored-by"><span>Récompense sponsorisée par</span>
            </div>
            <div class="tournament--rewards--list--item-sponsor" >Nicecactus</div>
          </div>
          <div class="swiper-slide tournament--rewards--list--item swiper-slide-next">
            <div class="tournament--rewards--list--item--reward">
              <div class="tournament--rewards--list--item--reward-value is-cash">4 €</div>
            </div><span class="tournament--rewards--list--item--rank second"><span>2ème place</span></span>
            <div class="tournament--rewards--list--item-sponsor-sponsored-by"><span>Récompense sponsorisée par</span>
            </div>
            <div class="tournament--rewards--list--item-sponsor" >Nicecactus</div>
          </div>
        </div><span class="swiper-notification" ></span>
      </div>
    </div>
  </div>
  <div class="tournament--tabs-container">
    <div class="subtitle"><span>Informations complémentaires</span></div>
    <div class="tournament--description--text">
      <p>
        Au début du tournoi pensez à rafraichir votre page pour faire apparaître le bouton pret vous permettant de
        rentrer
        dans celui-ci.
      </p>

      <p>&nbsp;</p>
    </div>
  </div>
  <div class="tournament--rules">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Règles Générales
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dernières modifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            équipes et Joueurs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dernières modifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Format et déroulement des matchs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tournoi
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Choix des maps et du side
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paramètres des matchs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Remplacement (Pick up)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="!bench esle canBench" style="color: red;">Pas de remplaçant autorisé.</p>
        <ng-template #canBench></ng-template>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Connexion / déconnexion
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>L'host est désigné par le site sur la fiche de match et doit donc créer la partie et inviter son adversaire
          dès que le match est généré.
          Si vous ne parvenez pas à vous rejoindre, voici l’ordre des actions à effectuer :
          Redémarrage du jeu.
          Re-créer le groupe
          Redémarrage du routeur
          En cas de déconnexion de l’un ou plusieurs joueurs lors de la partie, le match continue. Le joueur pourra
          tenter de se reconnecter à la partie.
          En cas de déconnexion due aux serveurs Riot, contactez les admins.
          En cas de déconnexion due aux serveurs Riot, contactez les admins.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Streaming
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Un délai de 90 secondes minimum est requis sur le stream. Toute plainte concernant un problème de streamhack
          ne sera pas recevable.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comportement
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>4.1 Insultes/mauvais comportement : vous devez faire preuve de respect envers votre adversaire. Si un mauvais
          comportement est dénoncé et prouvé par votre adversaire, vous récolterez une sanction allant de la
          disqualification à l’exclusion définitive du site.</p>
        <p>Toute action se déroulant sur un autre support que le site (messagerie dans le jeu, réseaux sociaux, etc…)
          sera également sanctionnée s’il est prouvé que c’est en lien avec le match concerné.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>