.grid-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.tournament--tabs-container {
    padding: 5px 25px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.tournament--description--text {
    color: black;
}
.subtitle:before {
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.subtitle:before {
    background-color: #233dd2;
    box-shadow: 0 -2px 4px #233dd2;
}
.subtitle {
    border-color: hsla(0,0%,100%,.25);
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid rgba(50,54,57,.15);
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding: 10px 0 6px;
    margin-bottom: 20px;
    color: black;
}

::ng-deep mat-expansion-panel.mat-expanded{
    border-left: 20px solid #000202;
}
::ng-deep mat-expansion-panel-header {
    min-height: 70px;
    font-weight: 600;
    color: #323639;
    text-transform: uppercase;
    line-height: normal;
}
::ng-deep.mat-expansion-indicator::after {
    padding: 10px;
}