.grid-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.subtitle {
    color: #fff;
    border-color: hsla(0,0%,100%,.25);
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #323639;
    border-bottom: 2px solid rgba(50,54,57,.15);
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding: 10px 0 6px;
    margin-bottom: 20px;
}